html {
    height: 480%;
}

body {
    min-height: 100%;
    background-color: lightgray;
    margin: 0px;
}

.sections {
    width: 100%;
    height: 60px;
    background-color: #3A396B;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.sections > h3 {
    color: white;
}

#intro {
    text-align: center;
    font-size: 35px;
    margin-top: 25vh;
    font-family: Copperplate, sans-serif;
}

#intro > p {
    font-size: 150px;
    margin-top: 20px;
}

#strike {
    color: rgba(0, 0, 0, .7);
    text-decoration: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: 7px;
    text-decoration-color: rgba(0, 0, 0);
}

#about-me-title {
    width: 75%;
    margin-top: 0vh;
    text-align: center;
    margin: auto;
    background-color: #3A396B;
    color: white;
}

#about-me-content {
    margin-top: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#about-div1 {
    width: 382px;
    height: 382px;
}

#about-div1 > img {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
}

#about-div2 {
    width: 382px;
    height: 382px;
    margin-left: -10%;
}

#skills-title {
    width: 75%;
    margin-top: 32vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #3A396B;
    color: white;
}

#projects-title {
    width: 75%;
    margin-top: 27vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #3A396B;
    color: white;
}

#contact-title {
    width: 75%;
    margin-top: 33vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #3A396B;
    color: white;
}

#skills-row1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 100px;
    margin-top: 20vh;
}

#skills-row2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 100px;
    margin-top: 25vh;
}

#basic-calculator {
    text-align: center;
    margin-top: 100px;
}

#calculator-project {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#calculator-project-image {
    width: 28.8rem;
    height: 15.28rem;
}

#calculator-project-text {
    margin-top: 38px;
}

#contact-intro {
    text-align: center;
    margin-top: 100px;
}

#contact-icons {
    display: flex;
    margin-top: 100px;
    font-size: 100px;
}

#github-icon {
    margin-left: 35%;
}

#linkedin-icon {
    margin-left: 15%;
}